@inherits FluxorComponent
@inject IState<WorkflowState> WorkflowState

@if (ShowTitle)
{
    <div class="mb-4">
        <MudText Typo="Typo.h5">Töövoo ajalugu</MudText>
        <MudText Typo="Typo.subtitle1">Selles töövoos ilmnesid järgmised sündmused.</MudText>
    </div>
}

<MudTable Dense="true" Outlined="true" 
          Items="@(WorkflowState.Value.WorkflowHistoryQuery.Result.Value ?? [])"
          Loading="@(WorkflowState.Value.WorkflowHistoryQuery.Status == QueryStatus.Loading)">
    <HeaderContent>
        <MudTh>Toimumise aeg</MudTh>
        <MudTh>Sündmuse tüüp</MudTh>
        <MudTh>Kasutaja</MudTh>
        <MudTh>Kirjeldus</MudTh>
        <MudTh>Kommentaar</MudTh>
    </HeaderContent>
    <RowTemplate Context="entry">
        <MudTd>@entry.Occurred.ToString("g")</MudTd>
        <MudTd>@entry.EventText</MudTd>
        <MudTd>@entry.User</MudTd>
        <MudTd>@entry.Description</MudTd>
        <MudTd>@entry.Comment</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        @(WorkflowState.Value.WorkflowHistoryQuery is { Status: QueryStatus.Loaded, Result.Succeeded: false }
            ? "Töövoo ajaloo laadimine ebaõnnestus"
            : "Töövoo ajalugu puudub")
    </NoRecordsContent>
</MudTable>

@code {
    [Parameter] public bool ShowTitle { get; set; } = true;
}