@inherits FluxorComponent
@inject IState<WorkflowState> WorkflowState

<div class="mb-4">
    <MudText Typo="Typo.h5">Tööülesanded</MudText>
    <MudText Typo="Typo.subtitle1">
        @(WorkflowState.Value.WorkflowTasksQuery.Result.Value?.Count > 0 
            ? "See töövoog on loonud järgmised tööülesanded." 
            : "Selles vaates pole üksusi, mida kuvada.")
    </MudText>
</div>

<MudTable Dense="true" Outlined="true" 
          Items="@(WorkflowState.Value.WorkflowTasksQuery.Result.Value ?? [])"
          Loading="@(WorkflowState.Value.WorkflowTasksQuery.Status == QueryStatus.Loading)">
    <HeaderContent>
        <MudTh>Määratud kasutajale</MudTh>
        <MudTh>Pealkiri</MudTh>
        <MudTh>Tähtaeg</MudTh>
        <MudTh>Olek</MudTh>
    </HeaderContent>
    <RowTemplate Context="task">
        <MudTd>@task.AssignedTo</MudTd>
        <MudTd><MudLink Href="@($"/workflow-task/{task.Id}")">@task.Title</MudLink></MudTd>
        <MudTd>@task.DueDate?.ToLocalTime().ToString("d")</MudTd>
        <MudTd>@task.DisplayStatus</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        @(WorkflowState.Value.WorkflowTasksQuery is { Status: QueryStatus.Loaded, Result.Succeeded: false }
            ? "Tööülesannete laadimine ebaõnnestus"
            : "Tööülesanded puuduvad")
    </NoRecordsContent>
</MudTable>