@inherits FluxorComponent
@inject IState<WorkflowState> WorkflowState

<div class="mb-4">
    <MudText Typo="Typo.h5">Töövoo teave</MudText>
</div>

@if (WorkflowDetails != null)
{
    <MudGrid Style="width:100%">
        <MudItem xs="12" md="6">
            <MudStack Row="true">
                <MudStack>
                    <MudText><b>Algataja: </b></MudText>
                    <MudText><b>Alustatud: </b></MudText>
                    <MudText><b>Lõpetatud: </b></MudText>
                </MudStack>
                <MudStack>
                    <MudText>@WorkflowDetails.Originator</MudText>
                    <MudText>@WorkflowDetails.StartDate</MudText>
                    <MudText>@WorkflowDetails.EndDate</MudText>
                </MudStack>
            </MudStack>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudStack Row="true">
                <MudStack>
                    <MudText><b>Dokument: </b></MudText>
                    <MudText><b>Registrivorm: </b></MudText>
                    <MudText><b>Olek: </b></MudText>
                </MudStack>
                <MudStack>
                    <MudText>@WorkflowDetails.Document</MudText>
                    <MudLink>@WorkflowDetails.Document</MudLink>
                    <MudText>@WorkflowDetails.Outcome</MudText>
                </MudStack>
            </MudStack>
        </MudItem>
    </MudGrid>
}

@code
{
    private WorkflowDetails? WorkflowDetails 
        => WorkflowState.Value.WorkflowDetailsQuery.Result.Succeeded 
            ? WorkflowState.Value.WorkflowDetailsQuery.Result.Value 
            : null;
}