@inject IMediator Mediator

@if (ShowTitle)
{
    <div class="mb-4">
        <MudText Typo="Typo.h5">Töövoo ajalugu</MudText>
        <MudText Typo="Typo.subtitle1">Selles töövoos ilmnesid järgmised sündmused.</MudText>
    </div>
}

<MudTable Items="@_historyItems" Dense="true" Outlined="true" Loading="@_loading">
    <HeaderContent>
        <MudTh>Toimumise aeg</MudTh>
        <MudTh>Sündmuse tüüp</MudTh>
        <MudTh>Kasutaja</MudTh>
        <MudTh>Kirjeldus</MudTh>
        <MudTh>Kommentaar</MudTh>
    </HeaderContent>
    <RowTemplate Context="entry">
        <MudTd>@entry.Occurred.ToString("g")</MudTd>
        <MudTd>@entry.EventText</MudTd>
        <MudTd>@entry.User</MudTd>
        <MudTd>@entry.Description</MudTd>
        <MudTd>@entry.Comment</MudTd>
    </RowTemplate>
    <NoRecordsContent>@_contentMessage</NoRecordsContent>
</MudTable>

@code {
    private bool _loading;
    private string _contentMessage = "Töövoo ajalugu puudub";

    [Parameter] public bool ShowTitle { get; set; } = true;
    [Parameter, EditorRequired] public int WorkflowId { get; set; }

    private List<WorkflowHistory> _historyItems = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _loading = true;

        Result<List<WorkflowHistory>> result = await Mediator.Send(new GetWorkflowHistoryQuery(WorkflowId));
        if (result.Succeeded)
        {
            _historyItems = result.Value;
        }
        else
        {
            _contentMessage = "Töövoo ajaloo päring ebaõnnestus";
        }

        _loading = false;
    }
}