
<div class="mb-4">
    <MudText Typo="Typo.h5">Töövoo teave</MudText>
</div>

@if (ViewModel != null)
{
    <MudGrid Style="width:75%">
        <MudItem xs="12" md="6">
            <MudStack Row="true">
                <MudStack>
                    <MudText><b>Algataja: </b></MudText>
                    <MudText><b>Alustatud: </b></MudText>
                    <MudText><b>Lõpetatud: </b></MudText>
                </MudStack>
                <MudStack>
                    <MudText>@ViewModel.Originator</MudText>
                    <MudText>@ViewModel.StartDate</MudText>
                    <MudText>@ViewModel.EndDate</MudText>
                </MudStack>
            </MudStack>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudStack Row="true">
                <MudStack>
                    <MudText><b>Dokument: </b></MudText>
                    <MudText><b>Registrivorm: </b></MudText>
                    <MudText><b>Olek: </b></MudText>
                </MudStack>
                <MudStack>
                    <MudText>@ViewModel.Document</MudText>
                    <MudLink Href="#">Üürileping A155G</MudLink>
                    <MudText>@ViewModel.Outcome</MudText>
                </MudStack>
            </MudStack>
        </MudItem>
    </MudGrid>
}

@code {
    [Parameter, EditorRequired]
    public WorkflowDetailsDto? ViewModel { get; set; }
}
